<template>
  <v-card class="mx-auto my-2" width="700" elevation="10">
    <v-img src="../assets/newKtec.png"  class="mx-auto my-1" position="center" eager aspect-ratio="1.7778"/>
    <v-card-title>Dirección</v-card-title>
    <v-card-text class="texto-contacto">25 de Mayo 174, General Ramírez, Entre Ríos.</v-card-text>

    <v-card-title>Teléfono</v-card-title>
    <v-card-text class="texto-contacto">(0343) 490-2736</v-card-text>
    <v-row>
      <v-col :cols="6">
        <v-card-title>Página Web</v-card-title>
        <v-card-text>
          <a href="http://www.ktec.ar" class="texto-contacto" v-bind:class="{ 'link-decorado-light': !dark, 'link-decorado-dark': dark }" target="_blank">www.ktec.ar</a>
        </v-card-text>
      </v-col>

      <v-col :cols="6">
        <v-card-title>Mail</v-card-title>
        <v-card-text class="texto-contacto">consultas@ktec.ar</v-card-text>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: "Contacto",
  computed: {
    dark: function() {
      return this.$vuetify.theme.dark;
    } 
  }
};
</script>