<template>
  <div v-ripple>
    <v-card-text @click="activo_desactivo" class="puntero">
      <v-slide-y-transition leave-absolute>
        <font-awesome-icon :icon="['fas', 'check']" color="green" v-if="activado" />
      </v-slide-y-transition>
      <span :class="margen">{{item.nombre}}</span>
    </v-card-text>
  </div>
</template>

<script>
export default {
  name: "Elemento",
  props: ["item", "predef", "borrar"],
  data: function() {
    return {
      link: this.item.link,
      activado: false
    };
  },
  methods: {
    activo_desactivo: function() {
      this.activado = !this.activado;
    }
  },
  computed: {
    activo: function() {},
    margen: function() {
      if (this.activado) {
        return "ml-3 font-weight-black";
      } else {
        return "ml-6-5 subtitle-2";
      }
    }
  },
  watch: {
    activado: function() {
      if (this.activado == true) {
        this.$emit("activo:valor", this.link);
      } else {
        this.$emit("desactivo:valor", this.link);
      }
    },
    predef: function() {
      if (this.item.predefinido == "si" && this.predef == true) {
        this.activado = true;
      }
      if (this.item.predefinido == "si" && this.predef == false) {
        this.activado = false;
      }
    },
    borrar: function() {
      if (this.borrar == true) {
        this.activado = false;
      }
    }
  }
};
</script>

<style>
.ml-6-5 {
  margin-left: 26px !important;
}
.puntero {
  cursor: pointer;
}
</style>