<template>
  <div>
    <v-navigation-drawer
      :clipped="true"
      :floating="true"
      :mini-variant="primaryDrawer.mini"
      :permanent="true"
      app
      overflow
    >
      <v-list rounded>
        <v-list-item @click="tema">
          <v-list-item-action>
            <font-awesome-icon :icon="['fas', 'adjust']" size="lg" :color="lateral.color" />
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Tema</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-slide-y-transition>
          <v-list-item @click="cambiazo" v-if="!contacto">
            <v-list-item-action>
              <font-awesome-icon :icon="lateral.grilla" size="lg" :color="lateral.color" />
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ lateral.texto_grilla }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-slide-y-transition>
        <v-list-item @click="contactar">
          <v-list-item-action>
            <font-awesome-icon
              :icon="['fas', 'address-card']"
              size="lg"
              :color="lateral.color"
              v-if="!contacto"
            />
            <font-awesome-icon
              :icon="['fas', 'caret-square-left']"
              size="lg"
              :color="lateral.color"
              v-if="contacto"
            />
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-if="!contacto">Contacto</v-list-item-title>
            <v-list-item-title v-if="contacto">Inicio</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          link
          href="https://ktec-soluciones.com.ar/asistencia-remota-ktec/"
          target="_blank"
        >
          <v-list-item-action>
            <font-awesome-icon
              :icon="['fas', 'fire-extinguisher']"
              size="lg"
              :color="lateral.color"
            />
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Asistencia Remota</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar clipped-left app class="over-hidden">
      <v-btn @click="primaryDrawer.mini = !primaryDrawer.mini" icon>
        <font-awesome-icon :icon="['fas', 'bars']" size="2x" />
      </v-btn>
      <v-toolbar-title class="font-weight-bold">
        Instalador
        <label style="color:orange">K</label>Tec
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-badge color="red" :content="this.activos.length" :value="this.activos.length" overlap>
        <v-btn text @click="enviar">Instalar</v-btn>
      </v-badge>
      <v-divider vertical inset></v-divider>
      <v-btn text @click="predefs">Pre Definidos</v-btn>
      <v-divider vertical inset></v-divider>
      <v-btn text @click="borrar_seleccion">Borrar Seleción</v-btn>
    </v-app-bar>

    <v-content id="contenido">
      <v-container fluid>
        <v-scroll-y-transition>
          <v-snackbar :color="tipo_alerta" top multi-line :value="alerta">
            <h2>{{ mensaje }}</h2>
            <v-btn text @click="alerta = false">Cerrar</v-btn>
          </v-snackbar>
        </v-scroll-y-transition>
        <v-slide-x-transition>
          <v-row v-if="!contacto">
            <Tarjeta
              :columnas="colums"
              v-for="item of datitos"
              :objeto="item"
              :key="item.categoria"
              :predefinidos="predefinidos_activar"
              :borrados="borrar"
              @activos:up="activos_listos"
            />
          </v-row>
        </v-slide-x-transition>

        <v-slide-x-transition>
          <v-row v-if="contacto">
            <Contacto />
          </v-row>
        </v-slide-x-transition>

        <v-overlay :value="overlay" class="text-center">
          <h2>Por favor espere, se están instalando los programas.</h2>
          <v-progress-circular class="mt-7" indeterminate size="64"></v-progress-circular>
        </v-overlay>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import Tarjeta from "./Tarjeta.vue";
import Contacto from "./Contacto.vue";
import path from "path";
import {
  Apps,
  leer_settings,
  guardar_settings,
  setDir
} from "../soporte/archivos";
import { ipcRenderer } from "electron";

export default {
  name: "Principal",
  components: {
    Tarjeta,
    Contacto
  },
  data: () => ({
    overlay: false,
    primaryDrawer: {
      mini: true
    },
    lateral: {
      color: "grey",
      grilla: ["fas", "th-large"],
      texto_grilla: "Grilla"
    },
    colums: 12,
    datitos_procesados: {},
    activos: [],
    predefinidos_activar: false,
    borrar: false,
    contacto: false,
    mensaje: "Se instaló todo correctamente.",
    alerta: false,
    tipo_alerta: "success"
  }),
  computed: {
    datitos: function() {
      return Apps(__static);
    }
  },
  methods: {
    contactar: function() {
      return (this.contacto = !this.contacto);
    },
    cambiazo: function() {
      if (this.colums == 12) {
        this.colums = 4;
        this.lateral.grilla = ["fas", "list"];
        this.lateral.texto_grilla = "Lista";
      } else {
        this.colums = 12;
        this.lateral.grilla = ["fas", "th-large"];
        this.lateral.texto_grilla = "Grilla";
      }
      this.set_settings();
    },
    tema: function() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      if (this.lateral.color == "grey") {
        this.lateral.color = "white";
      } else {
        this.lateral.color = "grey";
      }
      this.set_settings();
    },
    activos_listos: function(activos_param) {
      this.datitos_procesados[activos_param["cat"]] = activos_param.data;
      this.activos = Object.values(this.datitos_procesados).flat();
      if (this.activos.length == 0) {
        this.borrar = false;
      }
    },
    predefs: function() {
      this.predefinidos_activar = !this.predefinidos_activar;
    },
    borrar_seleccion: function() {
      this.borrar = true;
      this.predefinidos_activar = false;
    },
    enviar: function() {
      ipcRenderer.send("EnvioActivos", this.activos);
      this.overlay = true;
    },
    set_settings: function() {
      let settings = {
      colums: this.colums,
      grilla: this.lateral.grilla,
      texto_grilla: this.lateral.texto_grilla,
      color: this.lateral.color,
      dark: this.$vuetify.theme.dark
      };
      guardar_settings(settings);
    },
    get_settings: function() {
      let settings = leer_settings();
      if (settings != false) {
        this.colums = settings.colums;
        this.lateral.grilla = settings.grilla;
        this.lateral.texto_grilla = settings.texto_grilla;
        this.lateral.color = settings.color;
        this.$vuetify.theme.dark = settings.dark;
      }
    }
  },
  mounted: function() {
    ipcRenderer.send('Montado', true);

    ipcRenderer.on(
      "Listo",
      function(event, arg) {
        this.overlay = false;
        this.borrar_seleccion();
        if (arg) {
          this.mensaje = "Se instaló todo correctamente.";
          this.alerta = true;
          this.tipo_alerta = "success";
        } else {
          this.mensaje = "Hubo un error en la instalación.";
          this.alerta = true;
          this.tipo_alerta = "error";
        }
      }.bind(this)
    );
    
    ipcRenderer.on('Dir', function(e,d){
      setDir(d);
      this.get_settings();
    }.bind(this))
  }
};
</script>