<template>
  <v-col :cols="columnas">
    <v-card elevation="20">      
        <v-card-title primary-title>{{objeto.categoria}}</v-card-title>
        <v-divider></v-divider>
        <Elemento v-for="item in objeto.items" :key="item.nombre" :item="item" 
        :predef="predefinidos"
        :borrar='borrados'
        @activo:valor="agrego_link"            
        @desactivo:valor="remuevo_link"
        >            
        </Elemento>
    </v-card>
  </v-col>
</template>

<script>
import Elemento from './Elemento.vue';
import { log } from 'util';

export default {
  name: "Tarjeta",
  components: {
    Elemento
  },
  props: ['objeto', 'columnas', 'predefinidos', 'borrados'],
  data: () => ({
    activos: new Set()
  }),
  methods: {
    agrego_link: function(valor){
      this.activos.add(valor);
      this.emisor();      
    },
    remuevo_link: function(valor){
      this.activos.delete(valor);
      this.emisor();   
    },
    emisor: function(){
      this.$emit('activos:up', {
        cat: this.objeto.categoria,
        data: Array.from(this.activos).flat()
        });
    }
  }
};
</script>