#mheader
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.95);
  -moz-box-shadow: 0 1px 5px #999;
  -webkit-box-shadow: 0 1px 5px #999;
  box-shadow: 0 1px 5px #999;
}

#ventana
{
  -webkit-app-region: drag;
  background-color: #343a40;
  min-height: 30px;
  width: 100%;
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#vetana-iconos
{
  -webkit-app-region: no-drag;
  float: right;
}

.no-drag{
  -webkit-app-region: no-drag;
}

.iconito
{
  padding: 0.5rem 0.5rem !important;
  color: white;
}

a:hover
{
  color: orange;
}

#main-logo
{
  float: left;
  margin-top: 10px;
}
#main-menu
{
  float: right;
  margin-top: 30px;
}

#main-menu a
{
  color: #555;
}

#main-menu a:hover
{
  color: orange;
}

#main-menu .nav-pills>li>a
{
  background: none;
  color: black;
}

#main-menu.nav-pills>li>a:focus,
#main-menu.nav-pills>li>a:hover
{

  color: orange;
}

#main-menu.nav .open>a,
#main-menu.nav .open>a:focus,
#main-menu.nav .open>a:hover
{
  background: none;
}

#contenido
{
  /* margin-top: 120px; */
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 95vh;
  /*transform: translate3d(0,0,0);*/
}

#main-footer
{
  background-color: transparent;
  height: 20px;
  bottom: 0;


  left: 0;
  position: fixed;
  right: 0;

  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.95);
  -moz-box-shadow: 0 1px 5px #999;
  -webkit-box-shadow: 0 1px 5px #999;
  box-shadow: 0 1px 5px #999;
}

#main-footer a,footer a:hover
{
  color: black;
}

#main-footer p
{
  text-align: center;
  color: black;
}

.over-hidden
{
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}


.btn.active
{
  background-color: gainsboro;
}
.list-group-item.active
{
  color: black !important;
  border-color: lightgrey !important;
}

.link-decorado{
  text-decoration: none !important;
  color: gray !important;
}

.link-decorado-light{
  text-decoration: none !important;
  color: rgb(15, 15, 15) !important;
}
.link-decorado-dark{
  text-decoration: none !important;
  color: rgb(245, 245, 245) !important;
}

.texto-contacto {
  font-weight: 600;
}

.theme--light.v-card>.v-card__text {
  color: rgba(0, 0, 0, 0.8) !important;
}

.theme--dark.v-card>.v-card__text {
  color: rgba(255, 255, 255, 0.9) !important;
}

body, html
{
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}


/*::-webkit-scrollbar { display: none; } */
/* Let's get this party started */
::-webkit-scrollbar { width: 5px; }
/* Track */
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; }
/* Handle */
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: orange; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); }
