<template>
  <v-app id="InstaladorKTec" dark>
    <v-system-bar app window dark id="ventana" color="#343a40">
      <v-spacer></v-spacer>
      <div id="ventana-iconos">
        <v-btn icon @click="minimizar" class="no-drag">
          <font-awesome-icon :icon="['far', 'window-minimize']" />
        </v-btn>
        <v-btn icon @click="maximizar" class="no-drag">
          <font-awesome-icon :icon="['far', 'window-restore']" />
        </v-btn>
        <v-btn icon @click="cerrar" class="no-drag">
          <font-awesome-icon :icon="['far', 'window-close']" />
        </v-btn>
      </div>
    </v-system-bar>
    <Principal />
    <v-footer app elevation="20">
      <span class="px-4">&copy; {{ new Date().getFullYear() }}
        <span class="font-weight-black">
          Instalador <label style="color:orange">K</label>
          Tec - 
            <a href="http://ktec-soluciones.com.ar/" class="link-decorado" target="_blank">
            KTec Estudio Informático</a>
        </span>
      </span>
    </v-footer>
  </v-app>
</template>

<script>
import Principal from "./components/Principal";
import { ipcRenderer } from 'electron';
import * as css from "./css/selecion.css";

export default {
  name: "IntaladorKTec",

  components: {
    Principal
  },

  data: () => ({
    //
  }),
  methods:{
    minimizar: () => { ipcRenderer.send('Minimizo', true); },
    maximizar: () => { ipcRenderer.send('Maximizo', true); },
    cerrar: () => { ipcRenderer.send('Cierro', true); }
  }
};
</script>
